# JSON

- "키-값 쌍"으로 이루어진 데이터 오브젝트를 전달하기 위해 인간이 읽을 수 있는 텍스트를 사용하는 개방형 표준 포맷이다.
- JavaScript Object Notation
- https://docs.python.org/ko/3/library/json.html

In [6]:
import json
import pandas as pd
import urllib.request
import requests

In [3]:
data = ['foo', {'bar': ('baz', None, 1.0, 2)}]
data

['foo', {'bar': ('baz', None, 1.0, 2)}]

In [4]:
# list => str
result = json.dumps(data)
result, type(result)

('["foo", {"bar": ["baz", null, 1.0, 2]}]', str)

In [5]:
# str => list
result2 = json.loads(result)
result2, type(result2)

(['foo', {'bar': ['baz', None, 1.0, 2]}], list)

### JSON 변환

- json 샘플 사이트 => 웹페이지 요청 
 : http://jsonplaceholder.typicode.com
 
- json 텍스트 => 리스트 딕셔너리 구조 
- 리스트 딕셔너리 => 데이타프레임

In [24]:
# 1) json 페이지 => 요청 => text
# http://jsonplaceholder.typicode.com/todos

url = 'http://jsonplaceholder.typicode.com/todos'
response = requests.get(url)
text = response.text
type(text)
#text

str

In [25]:
# 2) 리스트 딕셔너리 구조화
todos = json.loads(text)
type(todos), len(todos)

(list, 200)

In [26]:
todos[0],type(todos[0])

({'userId': 1, 'id': 1, 'title': 'delectus aut autem', 'completed': False},
 dict)

In [27]:
# 3) 리스트 딕셔너리 => 데이터프레임
# 빈 데이터프레임 생성
df_todos = pd.DataFrame(columns=['userId', 'id', 'title','completed'])
df_todos

Empty DataFrame
Columns: [userId, id, title, completed]
Index: []

In [28]:
# 행 인덱스
idx = 1
for dict in todos:
    userId = dict['userId']
    id = dict['id']
    title = ['title']
    completed = dict['completed']
    # 데이터프레임에 삽입
    df_todos.loc['row'+str(idx)] = [userId, id, title, completed]
    #df_todos.loc[idx] = [userId, id, title, completed]
    idx += 1

In [29]:
df_todos.head()

     userId id    title completed
row1      1  1  [title]     False
row2      1  2  [title]     False
row3      1  3  [title]     False
row4      1  4  [title]      True
row5      1  5  [title]     False

In [30]:
df_todos.tail()

       userId   id    title completed
row196     10  196  [title]      True
row197     10  197  [title]      True
row198     10  198  [title]      True
row199     10  199  [title]      True
row200     10  200  [title]     False

In [31]:
df_todos.to_csv('output/todos.csv')

In [32]:
ls output

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 582F-D8CD

 C:\workspace\scrap\output 디렉터리

2021-09-14  오전 11:26    <DIR>          .
2021-09-14  오전 11:26    <DIR>          ..
2021-09-10  오후 03:26             1,662 book_bestseller.csv
2021-09-10  오후 02:28            12,432 color_info.csv
2021-09-10  오후 01:57           217,139 colors_names.html
2021-09-10  오전 10:47            15,041 google1.html
2021-09-10  오전 10:47            15,057 google2.html
2021-09-13  오전 11:30            20,280 kid_movie_review.csv
2021-09-10  오후 03:37           467,293 naver_webtoon.html
2021-09-14  오전 11:26             5,742 todos.csv
2021-09-10  오전 11:24            11,936 warandpeace.html
2021-09-10  오후 03:00           566,652 yes24_best.html
              10개 파일           1,333,234 바이트
               2개 디렉터리  377,100,546,048 바이트 남음